In [147]:
import numpy as np
import pandas as pd

# Creating Series Objects

In [148]:
s = pd.Series([0,7,5,3,9,8,6])

In [149]:
print(s)

0    0
1    7
2    5
3    3
4    9
5    8
6    6
dtype: int64

In [150]:
s.values

array([0, 7, 5, 3, 9, 8, 6])

In [151]:
s.index

RangeIndex(start=0, stop=7, step=1)

In [152]:
for i in s.index:
  print(i)

0
1
2
3
4
5
6

In [153]:
for item in zip(s.index, s.values):
  print(item)

(0, 0)
(1, 7)
(2, 5)
(3, 3)
(4, 9)
(5, 8)
(6, 6)

In [154]:
s[0]

0

In [155]:
s[5]

8

In [156]:
mars = pd.Series([0.33, 57.9, 4222.6], index = ['mars', 'diameter', 'daylength'])

In [157]:
print(mars)

mars            0.33
diameter       57.90
daylength    4222.60
dtype: float64

In [158]:
mars['daylength']

4222.6

In [159]:
arr = np.random.randint(1,10,6)

In [160]:
index = np.arange(6,12)

In [161]:
rand_series = pd.Series(arr, index = index)

In [162]:
print(rand_series)

6     5
7     3
8     1
9     3
10    9
11    6
dtype: int64

In [163]:
d = {}
d['mass'] = 0.33
d['diameter'] = 57.9
d['daylength'] = 4222.6

In [164]:
print(d)

{'mass': 0.33, 'diameter': 57.9, 'daylength': 4222.6}

In [165]:
mars = pd.Series(d)

In [166]:
print(mars)

mass            0.33
diameter       57.90
daylength    4222.60
dtype: float64

In [167]:
mars = pd.Series(d, index = ['mass','diameter'])

In [168]:
print(mars)

mass         0.33
diameter    57.90
dtype: float64

# iloc and loc

In [169]:
s = pd.Series([0,7,5,3,9,8,6],index = np.arange(11,18))

In [170]:
print(s)

11    0
12    7
13    5
14    3
15    9
16    8
17    6
dtype: int64

In [171]:
s.loc[14]

3

In [172]:
s.iloc[4]

9

In [173]:
mars = pd.Series(d)

In [174]:
mars.iloc[0:1]

mass    0.33
dtype: float64

In [175]:
mars.iloc[-1]

4222.6

In [176]:
mars.loc['mass':'diameter']

mass         0.33
diameter    57.90
dtype: float64

In [177]:
mars.iloc[:]

mass            0.33
diameter       57.90
daylength    4222.60
dtype: float64

# Simple Operations

In [178]:
mass = pd.Series([0.33, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102, 0.0146],
                 index = ['Mercury','Venus','Earth','Mars','Jupyter','Saturn','Uranus','Neptune','Pluto'])

In [179]:
print(mass)

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupyter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [180]:
mass.iloc[1]

4.87

In [181]:
mass.loc["Earth"]

5.97

In [182]:
mass.iloc[2:5]

Earth         5.970
Mars          0.642
Jupyter    1898.000
dtype: float64

In [183]:
mass > 100

Mercury    False
Venus      False
Earth      False
Mars       False
Jupyter     True
Saturn      True
Uranus     False
Neptune     True
Pluto      False
dtype: bool

In [184]:
mass[mass > 100]

Jupyter    1898.0
Saturn      568.0
Neptune     102.0
dtype: float64

In [185]:
mass[(mass > 100) & (mass < 600)]

Saturn     568.0
Neptune    102.0
dtype: float64

In [186]:
np.mean(mass)

296.29184444444445

In [187]:
np.amin(mass)

0.0146

In [188]:
np.median(mass)

5.97

In [189]:
mass + mass

Mercury       0.6600
Venus         9.7400
Earth        11.9400
Mars          1.2840
Jupyter    3796.0000
Saturn     1136.0000
Uranus      173.6000
Neptune     204.0000
Pluto         0.0292
dtype: float64

In [190]:
mass - mass

Mercury    0.0
Venus      0.0
Earth      0.0
Mars       0.0
Jupyter    0.0
Saturn     0.0
Uranus     0.0
Neptune    0.0
Pluto      0.0
dtype: float64

In [191]:
more_mass = mass[mass > 100]

In [192]:
new_mass = mass + more_mass

In [193]:
new_mass

Earth         NaN
Jupyter    3796.0
Mars          NaN
Mercury       NaN
Neptune     204.0
Pluto         NaN
Saturn     1136.0
Uranus        NaN
Venus         NaN
dtype: float64

In [194]:
pd.isnull(new_mass)

Earth       True
Jupyter    False
Mars        True
Mercury     True
Neptune    False
Pluto       True
Saturn     False
Uranus      True
Venus       True
dtype: bool

In [195]:
new_mass[~pd.isnull(new_mass)]

Jupyter    3796.0
Neptune     204.0
Saturn     1136.0
dtype: float64

In [196]:
mass['Moon'] = 0.7346

In [197]:
mass.drop(['Pluto'])

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupyter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Moon          0.7346
dtype: float64

# Tasks

1. Collect numbers of the diameters of the planets and store it as a Series object. Then given these two Series ojects mass and diameter, compute the density of each planet.

In [198]:
diameter = pd.Series([4879, 12104, 12756, 3475, 6792, 142984, 120536, 51118, 49528, 2370],
                      index = ['Mercury','Venus','Earth','Moon','Mars','Jupyter','Saturn','Uranus','Neptune','Pluto'])

In [199]:
density = pd.Series([])

<ipython-input-199-35c7573069d7>:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  density = pd.Series([])

In [200]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupyter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
Moon          0.7346
dtype: float64

In [201]:
diameter

Mercury      4879
Venus       12104
Earth       12756
Moon         3475
Mars         6792
Jupyter    142984
Saturn     120536
Uranus      51118
Neptune     49528
Pluto        2370
dtype: int64

In [202]:
for planet in mass.index:
  density[planet] = mass[planet] / (np.pi * diameter[planet] * diameter[planet] * diameter[planet]/6)

In [203]:
print(density)

Mercury    5.426538e-12
Venus      5.244977e-12
Earth      5.493286e-12
Mars       3.913302e-12
Jupyter    1.240039e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Neptune    1.603427e-12
Pluto      2.094639e-12
Moon       3.343396e-11
dtype: float64

In [204]:
density = mass / (np.pi * np.power(diameter , 3)/6)

In [205]:
density

Earth      5.493286e-12
Jupyter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

In [206]:
mass['Planetx'] = 6

In [207]:
density = mass / (np.pi * np.power(diameter , 3)/6)

In [208]:
density

Earth      5.493286e-12
Jupyter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
Planetx             NaN
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

2. Given the density Series, replace all values which NaNs with the mean density of all planets

In [209]:
density[pd.isnull(density)]

Planetx   NaN
dtype: float64

In [210]:
np.mean(density)

6.031069152893776e-12

In [211]:
density[pd.isnull(density)] = np.mean(density)

In [212]:
density

Earth      5.493286e-12
Jupyter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
Planetx    6.031069e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

3. Compare Dictionary with Series:
- checking if some key is present
- summing values
- computing std

In [213]:
dict = {}
N = 1000000
for i in range(N):
  dict[i] = i%10

In [214]:
series = pd.Series(dict)

In [215]:
M = 10000

In [216]:
arr = np.random.randint(0, N, M)

In [217]:
%%timeit
for i in arr:
  i in dict

5.66 ms ± 429 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [218]:
%%timeit
for i in arr:
  i in series

32.8 ms ± 2.28 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [219]:
%%timeit
sum(dict.values())

14.7 ms ± 3.44 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [220]:
%%timeit
np.sum(series)

856 µs ± 91 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [221]:
%%timeit
mean = sum(dict.values()) / N
variance = sum([(x - mean)**2 for x in dict.values()])
std = variance ** 0.5

185 ms ± 37.1 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [222]:
%%timeit
np.std(series)

4.65 ms ± 146 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

# NIFTY Case Study

In [224]:
nifty = pd.read_csv('nifty.csv', index_col = 0 ).iloc[:,0]

In [225]:
nifty

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
                 ...
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, Length: 245, dtype: float64

In [226]:
nifty.head(25)

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
08-Jan-2019    10802.15
09-Jan-2019    10855.15
10-Jan-2019    10821.60
11-Jan-2019    10794.95
14-Jan-2019    10737.60
15-Jan-2019    10886.80
16-Jan-2019    10890.30
17-Jan-2019    10905.20
18-Jan-2019    10906.95
21-Jan-2019    10961.85
22-Jan-2019    10922.75
23-Jan-2019    10831.50
24-Jan-2019    10849.80
25-Jan-2019    10780.55
28-Jan-2019    10661.55
29-Jan-2019    10652.20
30-Jan-2019    10651.80
31-Jan-2019    10830.95
01-Feb-2019    10893.65
04-Feb-2019    10912.25
Name: Close, dtype: float64

In [227]:
nifty.tail(25)

Date
26-Nov-2019    12037.70
27-Nov-2019    12100.70
28-Nov-2019    12151.15
29-Nov-2019    12056.05
02-Dec-2019    12048.20
03-Dec-2019    11994.20
04-Dec-2019    12043.20
05-Dec-2019    12018.40
06-Dec-2019    11921.50
09-Dec-2019    11937.50
10-Dec-2019    11856.80
11-Dec-2019    11910.15
12-Dec-2019    11971.80
13-Dec-2019    12086.70
16-Dec-2019    12053.95
17-Dec-2019    12165.00
18-Dec-2019    12221.65
19-Dec-2019    12259.70
20-Dec-2019    12271.80
23-Dec-2019    12262.75
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, dtype: float64

In [228]:
np.mean(nifty)

11432.632244897959

In [229]:
np.median(nifty)

11512.4

In [230]:
np.std(nifty)

453.28669474598075

1. What fraction of days did the markets close higher than the previous day's close

In [231]:
nifty[0]

10910.1

In [232]:
nifty[1]

10792.5

In [233]:
nifty[1] - nifty[0]

-117.60000000000036

In [234]:
nifty[1:]

Date
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
08-Jan-2019    10802.15
                 ...
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, Length: 244, dtype: float64

In [235]:
nifty[:-1]

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
                 ...
23-Dec-2019    12262.75
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
Name: Close, Length: 244, dtype: float64

In [236]:
nifty[1:] - nifty[:-1]

Date
01-Apr-2019    0.0
01-Aug-2019    0.0
01-Feb-2019    0.0
01-Jan-2019    NaN
01-Jul-2019    0.0
              ...
31-Dec-2019    NaN
31-Jan-2019    0.0
31-Jul-2019    0.0
31-May-2019    0.0
31-Oct-2019    0.0
Name: Close, Length: 245, dtype: float64

In [237]:
np.sum((nifty.values[1:] - nifty.values[:-1]) > 0) / len(nifty)

0.5265306122448979

2. Compute moving average of the last 5 days

In [238]:
nifty.index[0]

'01-Jan-2019'

In [239]:
d = pd.Timestamp(nifty.index[0])

In [240]:
d.dayofweek  #gives the number corresponding to the day i.e Tuesday

1

In [241]:
new_index = map(pd.Timestamp , nifty.index)

In [242]:
new_nifty = pd.Series(nifty.values , index = new_index)

In [243]:
new_nifty

2019-01-01    10910.10
2019-01-02    10792.50
2019-01-03    10672.25
2019-01-04    10727.35
2019-01-07    10771.80
                ...
2019-12-24    12214.55
2019-12-26    12126.55
2019-12-27    12245.80
2019-12-30    12255.85
2019-12-31    12168.45
Length: 245, dtype: float64

In [244]:
new_nifty.index[0]

Timestamp('2019-01-01 00:00:00')

In [245]:
new_nifty.rolling('5d').mean()

2019-01-01    10910.100000
2019-01-02    10851.300000
2019-01-03    10791.616667
2019-01-04    10775.550000
2019-01-07    10723.800000
                  ...
2019-12-24    12249.700000
2019-12-26    12201.283333
2019-12-27    12212.412500
2019-12-30    12209.400000
2019-12-31    12223.366667
Length: 245, dtype: float64

3. Subset the data to include only data for Fridays

In [246]:
copy = new_nifty.copy()
for i in copy.index:
  copy[i] = i.dayofweek

In [247]:
copy

2019-01-01    1.0
2019-01-02    2.0
2019-01-03    3.0
2019-01-04    4.0
2019-01-07    0.0
             ...
2019-12-24    1.0
2019-12-26    3.0
2019-12-27    4.0
2019-12-30    0.0
2019-12-31    1.0
Length: 245, dtype: float64

In [248]:
new_nifty[copy == 4]

2019-01-04    10727.35
2019-01-11    10794.95
2019-01-18    10906.95
2019-01-25    10780.55
2019-02-01    10893.65
2019-02-08    10943.60
2019-02-15    10724.40
2019-02-22    10791.65
2019-03-01    10863.50
2019-03-08    11035.40
2019-03-15    11426.85
2019-03-22    11456.90
2019-03-29    11623.90
2019-04-05    11665.95
2019-04-12    11643.45
2019-04-26    11754.65
2019-05-03    11712.25
2019-05-10    11278.90
2019-05-17    11407.15
2019-05-24    11844.10
2019-05-31    11922.80
2019-06-07    11870.65
2019-06-14    11823.30
2019-06-21    11724.10
2019-06-28    11788.85
2019-07-05    11811.15
2019-07-12    11552.50
2019-07-19    11419.25
2019-07-26    11284.30
2019-08-02    10997.35
2019-08-09    11109.65
2019-08-16    11047.80
2019-08-23    10829.35
2019-08-30    11023.25
2019-09-06    10946.20
2019-09-13    11075.90
2019-09-20    11274.20
2019-09-27    11512.40
2019-10-04    11174.75
2019-10-11    11305.05
2019-10-18    11661.85
2019-10-25    11583.90
2019-11-01    11890.60
2019-11-08    11908.15
2019-11-15    11895.45
2019-11-22    11914.40
2019-11-29    12056.05
2019-12-06    11921.50
2019-12-13    12086.70
2019-12-20    12271.80
2019-12-27    12245.80
dtype: float64

In [249]:
data = [0,1,1,2,3,5,8,13,21]
s = pd.Series(data)
b= s.diff()
print(b)

0    NaN
1    1.0
2    0.0
3    1.0
4    1.0
5    2.0
6    3.0
7    5.0
8    8.0
dtype: float64

# Creating DataFrame Objects

In [250]:
arr = np.random.randint(0,10,(5,4))

In [251]:
arr

array([[6, 1, 1, 8],
       [7, 1, 4, 0],
       [3, 3, 8, 6],
       [1, 1, 0, 5],
       [2, 4, 2, 4]])

In [252]:
df = pd.DataFrame(arr)

In [253]:
df

   0  1  2  3
0  6  1  1  8
1  7  1  4  0
2  3  3  8  6
3  1  1  0  5
4  2  4  2  4

In [254]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [255]:
df.columns

RangeIndex(start=0, stop=4, step=1)

In [256]:
for i in df.columns:
  print(i)

0
1
2
3

In [257]:
df.values[0]

array([6, 1, 1, 8])

In [258]:
df.columns = ['C1','C2','C3','C4']

In [259]:
df.index = ['R1','R2','R3','R4','R5']

In [260]:
df

    C1  C2  C3  C4
R1   6   1   1   8
R2   7   1   4   0
R3   3   3   8   6
R4   1   1   0   5
R5   2   4   2   4

In [261]:
df.loc['R3','C2']

3

In [262]:
df.iloc[2,1]

3

In [263]:
df.iloc[2:4,1:3]

    C2  C3
R3   3   8
R4   1   0

In [264]:
df.loc['R3':'R5', 'C2':'C4']

    C2  C3  C4
R3   3   8   6
R4   1   0   5
R5   4   2   4

In [265]:
df.iloc[0]

C1    6
C2    1
C3    1
C4    8
Name: R1, dtype: int64

In [266]:
type(df.iloc[0])

pandas.core.series.Series

In [267]:
type(df.iloc[:,0])

pandas.core.series.Series

In [268]:
df.shape

(5, 4)

In [269]:
df.T

    R1  R2  R3  R4  R5
C1   6   7   3   1   2
C2   1   1   3   1   4
C3   1   4   8   0   2
C4   8   0   6   5   4

# Task on DataFrames

In [270]:
def create_df(nrows, ncols):
  df = pd.DataFrame(np.random.randint(0,10,(nrows,ncols)))
  df.index = ['R'+ str(x) for x in np.arange(1, nrows+1)]
  df.columns = ['C'+ str(x) for x in np.arange(1, ncols+1)]
  return df

In [271]:
create_df(5,3)

    C1  C2  C3
R1   5   5   5
R2   3   9   7
R3   8   0   6
R4   9   0   5
R5   8   1   6

In [272]:
create_df(2,3)

    C1  C2  C3
R1   2   8   1
R2   6   5   7

In [273]:
mass = pd.Series([0.33, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102, 0.0146],
                 index = ['Mercury','Venus','Earth','Mars','Jupyter','Saturn','Uranus','Neptune','Pluto'])
diameter = pd.Series([4879, 12104, 12756, 3475, 6792, 142984, 120536, 51118, 49528, 2370],
                      index = ['Mercury','Venus','Earth','Moon','Mars','Jupyter','Saturn','Uranus','Neptune','Pluto'])

In [274]:
df = pd.DataFrame({'Mass':mass,'Diameter':diameter})

In [275]:
df

              Mass  Diameter
Earth       5.9700     12756
Jupyter  1898.0000    142984
Mars        0.6420      6792
Mercury     0.3300      4879
Moon           NaN      3475
Neptune   102.0000     49528
Pluto       0.0146      2370
Saturn    568.0000    120536
Uranus     86.8000     51118
Venus       4.8700     12104

In [276]:
df['Mass']

Earth         5.9700
Jupyter    1898.0000
Mars          0.6420
Mercury       0.3300
Moon             NaN
Neptune     102.0000
Pluto         0.0146
Saturn      568.0000
Uranus       86.8000
Venus         4.8700
Name: Mass, dtype: float64

In [277]:
df['Diameter']

Earth       12756
Jupyter    142984
Mars         6792
Mercury      4879
Moon         3475
Neptune     49528
Pluto        2370
Saturn     120536
Uranus      51118
Venus       12104
Name: Diameter, dtype: int64

In [278]:
df['Mass']['Earth']

5.97

In [279]:
df.Mass.Earth

5.97

In [280]:
df['pop'] = 0

In [281]:
df

              Mass  Diameter  pop
Earth       5.9700     12756    0
Jupyter  1898.0000    142984    0
Mars        0.6420      6792    0
Mercury     0.3300      4879    0
Moon           NaN      3475    0
Neptune   102.0000     49528    0
Pluto       0.0146      2370    0
Saturn    568.0000    120536    0
Uranus     86.8000     51118    0
Venus       4.8700     12104    0

In [282]:
df['pop']['Earth'] = 8000000000

<ipython-input-282-ea2b52eeb9b2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pop']['Earth'] = 8000000000

In [283]:
df

              Mass  Diameter         pop
Earth       5.9700     12756  8000000000
Jupyter  1898.0000    142984           0
Mars        0.6420      6792           0
Mercury     0.3300      4879           0
Moon           NaN      3475           0
Neptune   102.0000     49528           0
Pluto       0.0146      2370           0
Saturn    568.0000    120536           0
Uranus     86.8000     51118           0
Venus       4.8700     12104           0

In [284]:
df['Mass'] is df.Mass

True

In [285]:
df['pop'] is df.pop

False

In [286]:
df.loc['Earth']

Mass        5.970000e+00
Diameter    1.275600e+04
pop         8.000000e+09
Name: Earth, dtype: float64

In [287]:
df.loc[:,'Mass']

Earth         5.9700
Jupyter    1898.0000
Mars          0.6420
Mercury       0.3300
Moon             NaN
Neptune     102.0000
Pluto         0.0146
Saturn      568.0000
Uranus       86.8000
Venus         4.8700
Name: Mass, dtype: float64

In [288]:
df.loc['PlanetX'] = 0

In [289]:
df

              Mass  Diameter         pop
Earth       5.9700     12756  8000000000
Jupyter  1898.0000    142984           0
Mars        0.6420      6792           0
Mercury     0.3300      4879           0
Moon           NaN      3475           0
Neptune   102.0000     49528           0
Pluto       0.0146      2370           0
Saturn    568.0000    120536           0
Uranus     86.8000     51118           0
Venus       4.8700     12104           0
PlanetX     0.0000         0           0

In [290]:
def create_mean_row(df):
  df.loc['PlanetX'] = [np.mean(df[col]) for col in df.columns]
  # df.loc['PlanetX'] = df.mean()
  return df

In [291]:
create_mean_row(df)

               Mass       Diameter           pop
Earth       5.97000   12756.000000  8.000000e+09
Jupyter  1898.00000  142984.000000  0.000000e+00
Mars        0.64200    6792.000000  0.000000e+00
Mercury     0.33000    4879.000000  0.000000e+00
Moon            NaN    3475.000000  0.000000e+00
Neptune   102.00000   49528.000000  0.000000e+00
Pluto       0.01460    2370.000000  0.000000e+00
Saturn    568.00000  120536.000000  0.000000e+00
Uranus     86.80000   51118.000000  0.000000e+00
Venus       4.87000   12104.000000  0.000000e+00
PlanetX   266.66266   36958.363636  7.272727e+08

In [292]:
df.drop('pop',axis = 1,inplace = True)

In [293]:
df.drop('PlanetX', inplace = True)

In [294]:
df

              Mass  Diameter
Earth       5.9700   12756.0
Jupyter  1898.0000  142984.0
Mars        0.6420    6792.0
Mercury     0.3300    4879.0
Moon           NaN    3475.0
Neptune   102.0000   49528.0
Pluto       0.0146    2370.0
Saturn    568.0000  120536.0
Uranus     86.8000   51118.0
Venus       4.8700   12104.0

In [295]:
create_mean_row(df)

                Mass  Diameter
Earth       5.970000   12756.0
Jupyter  1898.000000  142984.0
Mars        0.642000    6792.0
Mercury     0.330000    4879.0
Moon             NaN    3475.0
Neptune   102.000000   49528.0
Pluto       0.014600    2370.0
Saturn    568.000000  120536.0
Uranus     86.800000   51118.0
Venus       4.870000   12104.0
PlanetX   296.291844   40654.2

In [296]:
df = create_df(5,3)

In [297]:
df

    C1  C2  C3
R1   6   0   2
R2   1   5   5
R3   9   7   9
R4   8   7   3
R5   1   1   5

In [298]:
df.mean()

C1    5.0
C2    4.0
C3    4.8
dtype: float64

In [299]:
df.mean(axis = 1)

R1    2.666667
R2    3.666667
R3    8.333333
R4    6.000000
R5    2.333333
dtype: float64

In [300]:
df['Row_Mean'] = df.mean(axis = 1)

In [301]:
df

    C1  C2  C3  Row_Mean
R1   6   0   2  2.666667
R2   1   5   5  3.666667
R3   9   7   9  8.333333
R4   8   7   3  6.000000
R5   1   1   5  2.333333

In [302]:
df.loc['Col_Mean'] = df.mean()

In [303]:
df

           C1   C2   C3  Row_Mean
R1        6.0  0.0  2.0  2.666667
R2        1.0  5.0  5.0  3.666667
R3        9.0  7.0  9.0  8.333333
R4        8.0  7.0  3.0  6.000000
R5        1.0  1.0  5.0  2.333333
Col_Mean  5.0  4.0  4.8  4.600000

In [304]:
df.median()

C1          5.500000
C2          4.500000
C3          4.900000
Row_Mean    4.133333
dtype: float64

In [305]:
df.min()

C1          1.000000
C2          0.000000
C3          2.000000
Row_Mean    2.333333
dtype: float64

In [306]:
df.max()

C1          9.000000
C2          7.000000
C3          9.000000
Row_Mean    8.333333
dtype: float64

In [307]:
df.quantile(0.25)

C1          2.000000
C2          1.750000
C3          3.450000
Row_Mean    2.916667
Name: 0.25, dtype: float64

In [308]:
df.describe()

             C1        C2    C3  Row_Mean
count  6.000000  6.000000  6.00  6.000000
mean   5.000000  4.000000  4.80  4.600000
std    3.405877  2.966479  2.40  2.264705
min    1.000000  0.000000  2.00  2.333333
25%    2.000000  1.750000  3.45  2.916667
50%    5.500000  4.500000  4.90  4.133333
75%    7.500000  6.500000  5.00  5.650000
max    9.000000  7.000000  9.00  8.333333

In [309]:
planets = pd.DataFrame({'mass' : mass, 'diameter' :diameter})

In [310]:
planets.describe()

              mass      diameter
count     9.000000      10.00000
mean    296.291844   40654.20000
std     627.786429   51541.39142
min       0.014600    2370.00000
25%       0.642000    5357.25000
50%       5.970000   12430.00000
75%     102.000000   50720.50000
max    1898.000000  142984.00000

# Working with Planetary Dataset

In [311]:
import seaborn as sns

In [312]:
df = sns.load_dataset('planets')

In [313]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [314]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [315]:
df.tail()

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

In [316]:
df.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

## Task 1

1. Go through each row of the dataframe and delete it (drop) if any of the columns is null

In [317]:
#pd.isnull(df.columns)
(pd.isnull(df.loc[df.index,df.columns]))

      method  number  orbital_period   mass  distance   year
0      False   False           False  False     False  False
1      False   False           False  False     False  False
2      False   False           False  False     False  False
3      False   False           False  False     False  False
4      False   False           False  False     False  False
...      ...     ...             ...    ...       ...    ...
1030   False   False           False   True     False  False
1031   False   False           False   True     False  False
1032   False   False           False   True     False  False
1033   False   False           False   True     False  False
1034   False   False           False   True     False  False

[1035 rows x 6 columns]

In [318]:
for i, r in df.iterrows():
  if pd.isnull(r).any():
    df.drop(i,inplace = True)

In [319]:
for r in df.index:
  for c in df.columns:
    if pd.isnull(df.loc[r,c]):
      df.drop(r, inplace =True)

In [320]:
df.describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [321]:
df.dropna(inplace =True)

In [322]:
df.describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

## Task 2

2. Filter and show only those rows which have planets that arae found in the 2010s and method is 'Radial Velocity' and 'Transit' and distance is large (>75 percentile)

In [323]:
for i, r in df.iterrows():
  print(i)
  print(r)
  break

0
method            Radial Velocity
number                          1
orbital_period              269.3
mass                          7.1
distance                     77.4
year                         2006
Name: 0, dtype: object

In [324]:
df_ = df.copy()
per_75 = df.distance.quantile(0.75)
for i,r in df_.iterrows():
  if r['year'] < 2010 :
    df_.drop(i, inplace = True)
    continue
  if r['method'] != 'Radial Velocity' and r['method'] != 'Transit' :
    df_.drop(i, inplace = True)
    continue
  if r['distance'] < per_75:
    df_.drop(i, inplace = True)
    continue

In [325]:
df_.describe()

          number  orbital_period       mass    distance         year
count  50.000000       50.000000  50.000000   50.000000    50.000000
mean    1.300000      763.904808   3.322740  133.142600  2011.360000
std     0.505076      966.789870   3.648002   70.378699     1.120496
min     1.000000        2.703390   0.770000   65.620000  2010.000000
25%     1.000000      255.555000   1.325000   80.205000  2011.000000
50%     1.000000      550.500000   1.875000  121.070000  2011.000000
75%     2.000000      873.625000   3.400000  150.097500  2012.000000
max     3.000000     5584.000000  20.600000  354.000000  2014.000000

In [326]:
per_75

59.3325

In [327]:
df_ = df.copy()

In [328]:
df_ = df_[
    (df_['year'] >=2010) &
    ((df_['method'] == 'Radial Velocity') | (df_['method'] == 'Transit')) &
    (df_['distance'] > per_75)
]

In [329]:
df_.describe()

          number  orbital_period       mass    distance         year
count  50.000000       50.000000  50.000000   50.000000    50.000000
mean    1.300000      763.904808   3.322740  133.142600  2011.360000
std     0.505076      966.789870   3.648002   70.378699     1.120496
min     1.000000        2.703390   0.770000   65.620000  2010.000000
25%     1.000000      255.555000   1.325000   80.205000  2011.000000
50%     1.000000      550.500000   1.875000  121.070000  2011.000000
75%     2.000000      873.625000   3.400000  150.097500  2012.000000
max     3.000000     5584.000000  20.600000  354.000000  2014.000000

## Task 3

3. Modify the method column to have only the abbreviation of each method

In [330]:
df.method.unique()

array(['Radial Velocity', 'Transit'], dtype=object)

In [331]:
s = 'Radial Veloctity'

In [332]:
''.join([x[0] for x in s.split(' ')])

'RV'

In [333]:
s_names = {}
for s in df.method.unique():
  s_names[s] = ''.join([x[0] for x in s.split(' ')])

In [334]:
print(s_names)

{'Radial Velocity': 'RV', 'Transit': 'T'}

In [335]:
for i,r in df.iterrows():
  df.loc[i, 'short_names'] = s_names.get(r['method'],r['method'])

In [336]:
df.head()

            method  number  orbital_period   mass  distance  year short_names
0  Radial Velocity       1         269.300   7.10     77.40  2006          RV
1  Radial Velocity       1         874.774   2.21     56.95  2008          RV
2  Radial Velocity       1         763.000   2.60     19.84  2011          RV
3  Radial Velocity       1         326.030  19.40    110.62  2007          RV
4  Radial Velocity       1         516.220  10.50    119.47  2009          RV

In [337]:
df.tail()

,method,number,orbital_period,mass,distance,year,short_names
640,Radial Velocity,1,111.70000,2.100,14.90,2009,RV
641,Radial Velocity,1,5.05050,1.068,44.46,2013,RV
642,Radial Velocity,1,311.28800,1.940,17.24,1999,RV
649,Transit,1,2.70339,1.470,178.00,2013,T
784,Radial Velocity,3,580.00000,0.947,135.00,2012,RV

In [338]:
df = sns.load_dataset('planets')

In [339]:
def shorten_method(s):
  return s_names.get(s,s)

In [340]:
df['short_names'] = df['method'].apply(shorten_method)

In [341]:
df.head()

            method  number  orbital_period   mass  distance  year short_names
0  Radial Velocity       1         269.300   7.10     77.40  2006          RV
1  Radial Velocity       1         874.774   2.21     56.95  2008          RV
2  Radial Velocity       1         763.000   2.60     19.84  2011          RV
3  Radial Velocity       1         326.030  19.40    110.62  2007          RV
4  Radial Velocity       1         516.220  10.50    119.47  2009          RV

## Task 4

4. Count the number of planets discovered for each method type.

Approach:
1. **Split** the dataframe inot smaller chunks ( in this case they should have same method name )
2. **Apply** some function in each smaller chunk ( in this case it is the count function )
3. **Aggregate** the results from each chunk together

In [342]:
for i,r in df.iterrows():
  print(r)
  break

method            Radial Velocity
number                          1
orbital_period              269.3
mass                          7.1
distance                     77.4
year                         2006
short_names                    RV
Name: 0, dtype: object

In [343]:
d = {}
for i in df.method.unique():
  d[i] = df[df.method == i]['method'].count() # using ['method'], as method has no null values

In [344]:
print(d)

{'Radial Velocity': 553, 'Imaging': 38, 'Eclipse Timing Variations': 9, 'Transit': 397, 'Astrometry': 2, 'Transit Timing Variations': 4, 'Orbital Brightness Modulation': 3, 'Microlensing': 23, 'Pulsar Timing': 5, 'Pulsation Timing Variations': 1}

In [345]:
df.groupby('method')['method'].count() # returns a series object

method
Astrometry                         2
Eclipse Timing Variations          9
Imaging                           38
Microlensing                      23
Orbital Brightness Modulation      3
Pulsar Timing                      5
Pulsation Timing Variations        1
Radial Velocity                  553
Transit                          397
Transit Timing Variations          4
Name: method, dtype: int64

In [346]:
df.groupby('method')['distance'].mean()

method
Astrometry                         17.875000
Eclipse Timing Variations         315.360000
Imaging                            67.715937
Microlensing                     4144.000000
Orbital Brightness Modulation    1180.000000
Pulsar Timing                    1200.000000
Pulsation Timing Variations              NaN
Radial Velocity                    51.600208
Transit                           599.298080
Transit Timing Variations        1104.333333
Name: distance, dtype: float64

## Task 5

5. Find out what fraction of planets have been found in the last decade( i.e, in 2010s ) across each method type

Approach:
1. **Filter** the data for given condition( in this case planet found in the last decade )
2. **Split** ( in this case across method )
3. **Apply** ( in this case just count )
4. **Aggregate** ( to represent the final result )

In [347]:
s_2010 = df[df.year >= 2010].groupby('method')['method'].count()

In [348]:
s_all = df.groupby('method')['method'].count()

In [349]:
s_2010 / s_all

method
Astrometry                       1.000000
Eclipse Timing Variations        0.666667
Imaging                          0.473684
Microlensing                     0.565217
Orbital Brightness Modulation    1.000000
Pulsar Timing                    0.200000
Pulsation Timing Variations           NaN
Radial Velocity                  0.388788
Transit                          0.843829
Transit Timing Variations        1.000000
Name: method, dtype: float64

# Working with NIFTY50 Dataset

In [350]:
nifty50_2018 = pd.read_csv('NIFTY50_2018.csv', index_col = 0)

In [351]:
nifty50_2018.head()

                 Open      High       Low     Close
Date
31 Dec 2018  10913.20  10923.55  10853.20  10862.55
28 Dec 2018  10820.95  10893.60  10817.15  10859.90
27 Dec 2018  10817.90  10834.20  10764.45  10779.80
26 Dec 2018  10635.45  10747.50  10534.55  10729.85
24 Dec 2018  10780.90  10782.30  10649.25  10663.50

In [352]:
nifty50_2018.loc['27 Dec 2018']

Open     10817.90
High     10834.20
Low      10764.45
Close    10779.80
Name: 27 Dec 2018, dtype: float64

In [353]:
nifty50_2018['Open']

Date
31 Dec 2018    10913.20
28 Dec 2018    10820.95
27 Dec 2018    10817.90
26 Dec 2018    10635.45
24 Dec 2018    10780.90
                 ...
05 Jan 2018    10534.25
04 Jan 2018    10469.40
03 Jan 2018    10482.65
02 Jan 2018    10477.55
01 Jan 2018    10531.70
Name: Open, Length: 246, dtype: float64

In [354]:
nifty50_2019 = pd.read_csv('NIFTY50_2019.csv',index_col = 0)

In [355]:
nifty50_2019.head()

                 Open      High       Low     Close
Date
31 Dec 2019  12247.10  12247.10  12151.80  12168.45
30 Dec 2019  12274.90  12286.45  12213.80  12255.85
27 Dec 2019  12172.90  12258.45  12157.90  12245.80
26 Dec 2019  12211.85  12221.55  12118.85  12126.55
24 Dec 2019  12269.25  12283.70  12202.10  12214.55

In [356]:
print(nifty50_2018.shape, nifty50_2019.shape)

(246, 4) (245, 4)

In [357]:
nifty50 = pd.concat([nifty50_2018,nifty50_2019])

In [358]:
nifty50.shape

(491, 4)

In [359]:
niftynext50_2019 = pd.read_csv('NIFTYNext50_2019.csv', index_col = 0)

In [360]:
niftynext50_2019.head()

                 Open      High       Low     Close
Date
31 Dec 2019  28495.00  28549.50  28270.25  28307.55
30 Dec 2019  28528.95  28612.95  28406.70  28484.85
27 Dec 2019  28354.50  28500.25  28319.90  28476.80
26 Dec 2019  28409.10  28435.25  28259.75  28280.25
24 Dec 2019  28423.70  28430.40  28318.75  28382.85

In [361]:
nifty_2019 = pd.concat([nifty50_2019,niftynext50_2019], axis =1 )

In [362]:
nifty_2019.head()

,Open,High,Low,Close,Open,High,Low,Close
Date,,,,,,,,
31 Dec 2019,12247.10,12247.10,12151.80,12168.45,28495.00,28549.50,28270.25,28307.55
30 Dec 2019,12274.90,12286.45,12213.80,12255.85,28528.95,28612.95,28406.70,28484.85
27 Dec 2019,12172.90,12258.45,12157.90,12245.80,28354.50,28500.25,28319.90,28476.80
26 Dec 2019,12211.85,12221.55,12118.85,12126.55,28409.10,28435.25,28259.75,28280.25
24 Dec 2019,12269.25,12283.70,12202.10,12214.55,28423.70,28430.40,28318.75,28382.85

In [363]:
nifty_2019.shape

(245, 8)

Hirarical indexing

In [364]:
nifty_2019 = pd.concat([nifty50_2019,niftynext50_2019], axis =1 ,keys =['nifty50','niftynext50'])

In [365]:
nifty_2019.head()

              nifty50                               niftynext50            \
                 Open      High       Low     Close        Open      High
Date
31 Dec 2019  12247.10  12247.10  12151.80  12168.45    28495.00  28549.50
30 Dec 2019  12274.90  12286.45  12213.80  12255.85    28528.95  28612.95
27 Dec 2019  12172.90  12258.45  12157.90  12245.80    28354.50  28500.25
26 Dec 2019  12211.85  12221.55  12118.85  12126.55    28409.10  28435.25
24 Dec 2019  12269.25  12283.70  12202.10  12214.55    28423.70  28430.40


                  Low     Close
Date
31 Dec 2019  28270.25  28307.55
30 Dec 2019  28406.70  28484.85
27 Dec 2019  28319.90  28476.80
26 Dec 2019  28259.75  28280.25
24 Dec 2019  28318.75  28382.85

In [366]:
nifty_2019['nifty50']

                 Open      High       Low     Close
Date
31 Dec 2019  12247.10  12247.10  12151.80  12168.45
30 Dec 2019  12274.90  12286.45  12213.80  12255.85
27 Dec 2019  12172.90  12258.45  12157.90  12245.80
26 Dec 2019  12211.85  12221.55  12118.85  12126.55
24 Dec 2019  12269.25  12283.70  12202.10  12214.55
...               ...       ...       ...       ...
07 Jan 2019  10804.85  10835.95  10750.15  10771.80
04 Jan 2019  10699.70  10741.05  10628.65  10727.35
03 Jan 2019  10796.80  10814.05  10661.25  10672.25
02 Jan 2019  10868.85  10895.35  10735.05  10792.50
01 Jan 2019  10881.70  10923.60  10807.10  10910.10

[245 rows x 4 columns]

In [367]:
nifty_2019['nifty50'].loc['31 Dec 2019']

Open     12247.10
High     12247.10
Low      12151.80
Close    12168.45
Name: 31 Dec 2019, dtype: float64

# Assignment

Tasks in pd screenshots